
/* Terence Ordona, portal[AT]imaputz[DOT]com */
			/* http://creativecommons.org/licenses/by-sa/2.0/ */
			/* begin some basic styling here */
			body {
			background: #FFF;
			color: #000;
			font: normal normal 12px Verdana, Geneva, Arial, Helvetica, sans-serif;
			margin: 0;
			padding: 0
			}
			table, td, a {
			color: #000;
			line-height: 1.5em;
			font: normal normal 12px Verdana, Geneva, Arial, Helvetica, sans-serif
			}
			h1 {
			font: normal normal 18px Verdana, Geneva, Arial, Helvetica, sans-serif;
			margin: 0 0 5px 0
			}
			h2 {
			font: normal normal 16px Verdana, Geneva, Arial, Helvetica, sans-serif;
			margin: 0 0 5px 0
			}
			h3 {
			font: normal normal 13px Verdana, Geneva, Arial, Helvetica, sans-serif;
			color: #008000;
			margin: 0 0 15px 0
			}
			/* end basic styling */
			/* define height and width of scrollable area. Add 16px to width for scrollbar */
			/* allow WinIE to scale 100% width of browser by not defining a width */
			/* WARNING: applying a background here may cause problems with scrolling in WinIE 5.x */
			div.tableContainer {
			/*clear: both;*/
			border: 1px solid #963;
			height: 100%;/*285px;*/
			overflow: auto;
			/*width: 756px;*/
			}
			/* WinIE 6.x needs to re-account for it's scrollbar. Give it some padding */
			\html div.tableContainer/* */ {
			padding: 0 16px 0 0;
			/*width: 740px;*/
			}
			/* clean up for allowing display Opera 5.x/6.x and MacIE 5.x */
			html>body div.tableContainer {
			height: auto;
			padding: 0;
			}
			/* Reset overflow value to hidden for all non-IE browsers. */
			/* Filter out Opera 5.x/6.x and MacIE 5.x */
			head:first-child+body div[class].tableContainer {
			height: 100%;/*285px;*/
			overflow: hidden;
			/*width: 756px*/
			}
			/* define width of table. IE browsers only */
			/* if width is set to 100%, you can remove the width */
			/* property from div.tableContainer and have the div scale */
			div.tableContainer table {
			float: left;
            width: 100%;
			}
			/* WinIE 6.x needs to re-account for padding. Give it a negative margin */
			\html div.tableContainer table/* */ {
			margin: 0 -16px 0 0;
            width: 100%;
			}
			/* define width of table. Opera 5.x/6.x and MacIE 5.x */
			html>body div.tableContainer table {
			float: none;
			margin: 0;
            width: 100%;
			/*width: 740px*/
			}
			/* define width of table. Add 16px to width for scrollbar. */
			/* All other non-IE browsers. Filter out Opera 5.x/6.x and MacIE 5.x */
			head:first-child+body div[class].tableContainer table {
			/*width: 756px*/
            width: 100%;
			}
			/* set table header to a fixed position. WinIE 6.x only */
			/* In WinIE 6.x, any element with a position property set to relative and is a child of */
			/* an element that has an overflow property set, the relative value translates into fixed. */
			/* Ex: parent element DIV with a class of tableContainer has an overflow property set to auto */
			thead#fixedHeader0 tr {
			position: relative;
			/* expression is for WinIE 5.x only. Remove to validate and for pure CSS solution */
			top: expression(document.getElementById("tableContainer0").scrollTop);
			}
			thead#fixedHeader1 tr {
			position: relative;
			/* expression is for WinIE 5.x only. Remove to validate and for pure CSS solution */
			top: expression(document.getElementById("tableContainer1").scrollTop);
			}
			thead#fixedHeader2 tr {
			position: relative;
			/* expression is for WinIE 5.x only. Remove to validate and for pure CSS solution */
			top: expression(document.getElementById("tableContainer3").scrollTop);
			}
			/* set THEAD element to have block level attributes. All other non-IE browsers */
			/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
			/* Filter out Opera 5.x/6.x and MacIE 5.x */
			head:first-child+body thead[class].fixedHeader tr {
			display: block;
			}
			/* make the TH elements pretty */
			thead.fixedHeader th {
			background: #C96;
			border-left: 1px solid #EB8;
			border-right: 1px solid #B74;
			border-top: 1px solid #EB8;
			font-weight: normal;
			/*padding: 4px 3px;*/
			text-align: left
			}
			/* make the A elements pretty. makes for nice clickable headers */
			thead.fixedHeader a, thead.fixedHeader a:link, thead.fixedHeader a:visited {
			color: #FFF;
			display: block;
			text-decoration: none;
			width: 100%
			}
			/* make the A elements pretty. makes for nice clickable headers */
			/* WARNING: swapping the background on hover may cause problems in WinIE 6.x */
			thead.fixedHeader a:hover {
			color: #FFF;
			display: block;
			text-decoration: underline;
			width: 100%
			}
			/* define the table content to be scrollable */
			/* set TBODY element to have block level attributes. All other non-IE browsers */
			/* this enables overflow to work on TBODY element. All other non-IE, non-Mozilla browsers */
			/* induced side effect is that child TDs no longer accept width: auto */
			/* Filter out Opera 5.x/6.x and MacIE 5.x */
			head:first-child+body tbody[class].scrollContent {
			display: block;
			
			overflow: auto;
			width: 100%
			}
			
			#scroll1, #scroll2, #scroll3 {
				height: 400px;
			}
			
			/* make TD elements pretty. Provide alternating classes for striping the table */
			/* http://www.alistapart.com/articles/zebratables/ */
			tbody.scrollContent td, tbody.scrollContent tr.normalRow td
			{
				background: #FFF;
				border-bottom: none;
				border-left: none;
				border-right: 1px solid #CCC;
				border-top: 1px solid #DDD;
				padding: 0px 3px 0px 4px;/*2px 3px 3px 4px*/
			}
			tbody.scrollContent tr.alternateRow td
			{
				background: #EEE;
				border-bottom: none;
				border-left: none;
				border-right: 1px solid #CCC;
				border-top: 1px solid #DDD;
				padding: 0px 3px 0px 4px;/*2px 3px 3px 4px*/
			}
			/* define width of TH elements: 1st, 2nd, and 3rd respectively. */
			/* All other non-IE browsers. Filter out Opera 5.x/6.x and MacIE 5.x */
			/* Add 16px to last TH for scrollbar padding */
			/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors */
			head:first-child+body thead[class].fixedHeader th {
			width: 200px
			}
			/*head:first-child+body thead[class].fixedHeader th + th {
			width: 240px
			}
			head:first-child+body thead[class].fixedHeader th + th + th {
			border-right: none;
			padding: 4px 4px 4px 3px;
			width: 316px
			}*/
			/* define width of TH elements: 1st, 2nd, and 3rd respectively. */
			/* All other non-IE browsers. Filter out Opera 5.x/6.x and MacIE 5.x */
			/* Add 16px to last TH for scrollbar padding */
			/* http://www.w3.org/TR/REC-CSS2/selector.html#adjacent-selectors */
			/*head:first-child+body tbody[class].scrollContent td {
                width: 200px;
			}
            
			head:first-child+body tbody[class].scrollContent td + td {
			width: 240px
			}
			head:first-child+body tbody[class].scrollContent td + td + td  {
			border-right: none;
			padding: 2px 4px 2px 3px;
			width: 100%;
			}*/
            /*
            head:first-child+body tbody[class].scrollContent td {
                width: 30px;
                min-width: 30px;
                max-width: 30px;
			}
            
            head:first-child+body tbody[class].scrollContent td +td{
                width: 50%;
			}
            head:first-child+body tbody[class].scrollContent td +td+td{
                width: 50%;
			}
            head:first-child+body tbody[class].scrollContent td +td+td+td{
                width:	80px;
				max-width:	80px;
                min-width:	80px;
			}
            head:first-child+body tbody[class].scrollContent td +td+td+td+td{
                width:	80px;
				max-width:	80px;
                min-width:	80px;
			}*/
            
            table.fixedTable, table.scrollTable
            {
                width: 100%;
                min-width: 100%;
            }
            
            
			
            td.td1, td.td2, td.td3, td.td4, td.td5, td.td6, td.td7, td.td8,
            td.tdi1, td.tdi2, td.tdi3, td.tdi4, td.tdi5, td.tdi6, td.tdi7, 
			td.tdi8,
            td.tdtimediff, td.tdtimeresult,
			td.tdrelais1, td.relay_tm_name
            {
                white-space:    nowrap;
                overflow:   hidden;
            }
            
            td.td0
			{
				width:	26px;
				max-width:	26px;
                min-width:	26px;
                text-align: center;
			}
			
			td.tdi0, td.tdi5
			{
				width:	26px;
				max-width:	26px;
                min-width:	26px;
                text-align: center;
			}
            
            td.td1
            {
                width:	125px;
				max-width:	125px;
                min-width:	125px;
            }
            
            td.td2
            {
                width:	85px;
				max-width:	85px;
                min-width:	85px;
                font-size: 8px;
            }
            
            td.tdi2, td.tdi4
            {
                width: 60px;
                max-width: 60px;
                min-width: 60px;
            }
            
            td.tdi1, td.tdi3
            {
                width: 125px;
                max-width: 125px;
                min-width: 125px;
            }
            
            td.tdi0, td.tdi5, td.tdi6, td.tdi7, td.tdi8
            {
                font-size: 10px;
            }
            
            td.tdi1, td.tdi3
            {
                font-size: 12px;
            }
            
            td.tdi2, td.tdi4
            {
                font-size: 8px;
            }
            tbody.scrollContent tr.normalRow td.tdi2, tbody.scrollContent tr.alternateRow td.tdi2
            {
            border-right: 3px solid #000000;
            }
            
            td.td0, td.td1, td.tdtimeresult
            {
                font-size: 12px;
            }
			
			td.tdtimeresult
			{
				text-align:	right;
				width:	40px;
				max-width:	40px;
                min-width:	40px;
			}
			
			td.td3, td.td4, td.td5, td.td6, td.td7, td.td8, td.td9, td.td10
			{
				width:	28px;
				max-width:	28px;
                min-width:	28px;
                font-size: 8px;
                text-align: right;
            }
            
            td.tdtimediff
			{
				width:	30px;
				max-width:	30px;
                min-width:	30px;
                font-size: 8px;
                text-align: right;
            }
			
			thead.fixedHeader th.activeOnglet
			{
				background-color:	#FFFF00;
				font-weight:	bold;
			}
			
			thead.fixedHeader th.inactiveOnglet
			{
				background-color:	#B0B0B0;
                font-size: 0.8em;
				font-weight:	normal;
			}
            
            hr
            {
                padding:0;
                margin:0;
            }
            span.number_class
            {
                font-size: 0.75em;
                font-weight: normal;
            }
            
            tr.nonfini td
            {
                /*color: #999999;*/
                opacity:0.5;
            }
            tr.updated td
            {
                color: #333399;
            }
            
            td.tdrelais0
            {
                width: 26px;
                min-width: 26px;
                max-width: 26px;
                font-size: 12px;
                text-align: center;
            }
            td.tdrelais1
            {
            min-width: 125px;
            max-width: 125px;
            width: 125px;
            font-size: 12px;
			
            }
            td.tdrelais2
            {
            width: 20px;
            min-width: 20px;
            max-width: 20px;
            font-size: 8px;
            text-align: center;
            }
            td.tdrelais3
            {
            width: 28px;
            min-width: 28px;
            max-width: 28px;
            font-size: 8px;
            text-align: right;
            }
            td.tdrelais4
            {
            width: 28px;
            min-width: 28px;
            max-width: 28px;
            font-size: 8px;
            text-align: right;
            }
            td.tdrelais5
            {
            width: 28px;
            min-width: 28px;
            max-width: 28px;
            font-size: 8px;
            text-align: right;
            }
            td.tdrelais6
            {
            width: 28px;
            min-width: 28px;
            max-width: 28px;
            font-size: 8px;
            text-align: center;
            }
            td.tdrelais7
            {
            width: 40px;
            min-width: 40px;
            max-width: 40px;
            font-size: 12px;
            text-align: right;
            }
            td.tdrelais8
            {
            width: 20px;
            min-width: 20px;
            max-width: 20px;
            font-size: 8px;
            text-align: right;
            }
            td.tdrelais9
            {
            width: 28px;
            min-width: 28px;
            max-width: 28px;
            font-size: 8px;
            text-align: right;
            }
            td.tdrelais10
            {
            width: 28px;
            min-width: 28px;
            max-width: 28px;
            font-size: 8px;
            text-align: right;
            }
            td.tdrelais11
            {
            width: 28px;
            min-width: 28px;
            max-width: 28px;
            font-size: 8px;
            text-align: right;
            }
            td.tdrelais12
            {
            width: 28px;
            min-width: 28px;
            max-width: 28px;
            font-size: 8px;
            text-align: center;
            }
            td.tdrelais13
            {
            width: 40px;
            min-width: 40px;
            max-width: 40px;
            font-size: 12px;
            text-align: right;
            }
            td.tdrelais14
            {
            width: 20px;
            min-width: 20px;
            max-width: 20px;
            font-size: 8px;
            text-align: right;
            }
            td.tdrelais15
            {
            width: 28px;
            min-width: 28px;
            max-width: 28px;
            font-size: 8px;
            text-align: right;
            }
            td.tdrelais16
            {
            width: 28px;
            min-width: 28px;
            max-width: 28px;
            font-size: 8px;
            text-align: right;
            }
            td.tdrelais17
            {
            width: 28px;
            min-width: 28px;
            max-width: 28px;
            font-size: 8px;
            text-align: right;
            }
            td.tdrelais18
            {
            width: 28px;
            min-width: 28px;
            max-width: 28px;
            font-size: 8px;
            text-align: center;
            }
            td.tdrelais19
            {
            width: 40px;
            min-width: 40px;
            max-width: 40px;
            font-size: 12px;
            text-align: right;
            }
			
			td.relay_tm_name
			{
            font-size: 8px;
            text-align: left;
            }
            
            th.entete_relais
                        {
                background: #C96;
                border-left: 1px solid #EB8;
                border-right: 1px solid #B74;
                border-top: 1px solid #EB8;
                font-weight: normal;
                /*padding: 4px 3px;*/
                text-align: center
            }
			
			th.entete_relais_radio
			{
                background: #C96;
                border-left: 1px solid #EB8;
                border-right: 1px solid #B74;
                border-top: 1px solid #EB8;
                font-weight: normal;
                /*padding: 4px 3px;*/
                text-align: center;
				font-size: 8px;
            }
            
            th.entete_relaisvide
                        {
            }

            
            
